<%- include('partials/head') -%>
  <nav class="bg-gray-800 w-full fixed top-0 z-10">
    <div class="py-4 lg:container-fluid lg:px-4 md:px-4 flex justify-between w-full items-center">
      <div class="">
        <a href="/admin" class="text-white text-2xl"><%= title %></a>
      </div>
      <div class="">
        <ul class="grid grid-cols-3 gap-4">
          <li class="p-2">
            <a href="#" class="text-white" onmouseover="this.parentElement.className = 'hover:bg-gray-700 p-2 rounded'">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
              </svg>
            </a>
          </li>
          <li class="p-2">
            <a href="#" class="text-white" onmouseover="this.parentElement.className = 'hover:bg-gray-700 p-2 rounded'">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
              </svg>
            </a>
          </li>
          <li class="p-2">
            <a href="#" class="text-white" onmouseover="this.parentElement.className = 'hover:bg-gray-700 p-2 rounded'">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="grid grid-cols-3 gap-4 pr-10 mt-16">
    <main class="col-span-2 mt-5 mb-20 ml-72 h-screen">
      <div>Welcome back <b class="session-username"><%= author %></b></div>
      <div class="mt-5">
        <h1>Tutorial</h1>
        <table class="table-auto mt-3 border border-collapse border-gray-300 rounded">
          <thead>
            <tr>
              <th class="border border-collapse border-gray-300 p-2">id</th>
              <th class="border border-collapse border-gray-300 p-2">judul</th>
              <th class="border border-collapse border-gray-300 p-2">isi</th>
              <th class="border border-collapse border-gray-300 p-2">penulis</th>
              <th class="border border-collapse border-gray-300 p-2">kategori</th>
              <th class="border border-collapse border-gray-300 p-2">dibuat</th>
              <th class="border border-collapse border-gray-300 p-2">diupdate</th>
              <th class="border border-collapse border-gray-300 p-2">aksi</th>
            </tr>
          </thead>
          <% data.forEach(function(tutorial, key) { %>
            <tbody>
              <td class="border border-collapse border-gray-300 p-2"><%= key + 1 %></td>
              <td class="border border-collapse border-gray-300 p-2"><%= tutorial.judul %></td>
              <td class="border border-collapse border-gray-300 p-2 remove-tag"><%= tutorial.isi %></td>
              <td class="border border-collapse border-gray-300 p-2"><%= tutorial.penulis %></td>
              <td class="border border-collapse border-gray-300 p-2"><%= tutorial.kategori %></td>
              <td class="border border-collapse border-gray-300 p-2"><%= tutorial.dibuat %></td>
              <td class="border border-collapse border-gray-300 p-2"><%= tutorial.diupdate %></td>
              <td class="border border-collapse border-gray-300 p-2">
                <button type="button" class="border border-transparent bg-yellow-400 py-1 px-4">edit</button>
                <button type="button" class="border border-transparent bg-red-600 py-1 px-4">hapus</button>
              </td>
            </tbody>
          <% }) %>
        </table>
      </div>
    </main>
    
    <aside class="bg-gray-700 w-64 h-screen fixed top-10 mt-6 text-white pt-4 z-auto">
      <div>
        <a href="/admin" class="w-64 px-4 py-2 text-left focus:outline-none focus:bg-gray-800 flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-speedometer2" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5V6a.5.5 0 0 1-1 0V4.5A.5.5 0 0 1 8 4zM3.732 5.732a.5.5 0 0 1 .707 0l.915.914a.5.5 0 1 1-.708.708l-.914-.915a.5.5 0 0 1 0-.707zM2 10a.5.5 0 0 1 .5-.5h1.586a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 10zm9.5 0a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 0 1H12a.5.5 0 0 1-.5-.5zm.754-4.246a.389.389 0 0 0-.527-.02L7.547 9.31a.91.91 0 1 0 1.302 1.258l3.434-4.297a.389.389 0 0 0-.029-.518z"/>
            <path fill-rule="evenodd" d="M0 10a8 8 0 1 1 15.547 2.661c-.442 1.253-1.845 1.602-2.932 1.25C11.309 13.488 9.475 13 8 13c-1.474 0-3.31.488-4.615.911-1.087.352-2.49.003-2.932-1.25A7.988 7.988 0 0 1 0 10zm8-7a7 7 0 0 0-6.603 9.329c.203.575.923.876 1.68.63C4.397 12.533 6.358 12 8 12s3.604.532 4.923.96c.757.245 1.477-.056 1.68-.631A7 7 0 0 0 8 3z"/>
          </svg>
          <span class="ml-2">
            Dashboard
          </span>
        </a>
      </div>
      <div class="admin-tutorial">
        <button type="button" class="w-64 px-4 py-2 text-left focus:outline-none focus:bg-gray-800 flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
          <span class="ml-2">Tutorial</span>
        </button>
      </div>
    </aside>
  </div>

<%- include('partials/footer') -%>